@import url('https://googleapis.com');
@import 'tailwindcss';
@plugin "daisyui" {
	themes:
		light --default,
		dim --prefersdark;
}
@variant dark (html[data-theme='dim'] &);
@theme {
	--font-sans: 'Open Sans', Arial, sans-serif;
	--font-mono: 'Open Sans Mono', 'Courier New', monospace;
}
